h1.det-item-name{
  line-height: 32px;
  font-size: 26px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  letter-spacing: 0.35px;
  margin: 0 0 6px 0;
  box-sizing: border-box;
  text-align: left;
}

.det-bestseller-flag {
  background-color: #FDEBD2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  height: 18px;
  width: 65px;
  padding: 5px 4px 2px 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.det-cost-container {
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.det-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.det-current-price {
  font-weight: 700;
  font-size: 25px;
  margin-right: 12px;
}

.det-original-price {
  font-weight: 200;
  font-size: 14px;
  text-decoration: line-through;
}

.det-markdown-savings {
  font-weight: 200;
  font-size: 14px;
  color: #258635;
}

.det-markdown-sale-ending {
  background-color: #9EC063;
  font-size: 12px;
  font-weight: 400;
  border-radius: 15px;
  box-sizing: border-box;
  padding: .1em .3em .1em .3em;
  min-width: 60px;
  display: inline-block;
}

.det-options-container {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 14px;
}

.det-choices-container {
  margin-bottom: 7px;
}

.det-choice-title {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

select {
  padding: 0px;
  font-size: 18px;
  min-width: 90%;
}

.det-personalization-container {
  display: block;
  margin-bottom: 14px;
}

.det-personalization-label {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.det-personalization-input {
  padding: 0px;
  font-size: 18px;
  min-width: 200px;
}

.det-quantity-container {
  margin-bottom: 10px;
}

.det-quantity-label {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

button.det-add-to-cart {
  min-width: 200px;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  line-height: 2.2;
  margin-bottom: 16px;
}

.det-featue-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 12px;
}

img.det-selling-flag {
  max-width: 36px;
  max-height: 40px;
  padding-right: 12px;
}

.det-style-label {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.det-materials-container {
  margin-bottom: 16px;
}

.det-materials-label {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.det-materials-list {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 24px;
}

.det-description-container {
  margin-bottom: 20px;
}

.det-description-label {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.det-dimensions-list {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 24px;
}

.det-description-body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 24px;
}

.det-shipping-container {
  margin-bottom: 30px;
}

.det-shipping-out-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 20px;
}

.det-timeframe-label {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.det-timeframe-info {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 24px;
}

.det-ship-source-container {
  margin-left: 40px;
}

.det-ship-source-label {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.det-ship-source-location {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 24px;
}

.det-ship-cost-label {
  color: #595959;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 4px;
}

.det-shipping-fee {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
}

.det-shipping-cost-button {
  background: none;
  border: none;
  font-size: 14px;
  margin: 14px 14px 14px -6px;
}

.det-return-synopsis {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}